.OrderDetail {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vmin;
  font-size: 2vmin;
  color: var(--text-light);
}

.OrderDetail .SectionHeading {
  width: 100%;
}

.OrderDetail .LineItemContainer {
  margin-top: 3vmin;
  justify-content: flex-start;
  height: calc(100vh - 18vmin);
  width: 100%;
}

.OrderDetail .Total {
  width: 100%;
  display: grid;
  grid-template-columns: 18.35vw 5.75vw 5.25vw;
  padding: 1vmin 0;
  color: var(--text-light);
  border-top: 0.1vmin solid var(--tan-3);
}

.OrderDetail .Total span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: var(--text-dark);
}

.OrderDetail .Total span.right {
  display: flex;
  justify-content: flex-end;
}

.OrderDetail .hungry {
  position: absolute;
  top: 50vh;
  font-size: 2vmin;
}
.SectionHeading {
  align-items: center;
  color: #615954;
  color: var(--text-dark);
  display: flex;
  font-size: 2vmin;
  justify-content: space-around;
  padding: 0.6vmin;
  text-align: center;
}
