.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--tan-1);
  width: 100%;
  margin: 2vmin;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.2em rgba(97, 89, 84, 0.5),
    -0.1em -0.1em 0.2em rgba(97, 89, 84, 0.5);
}
